<a href="https://colab.research.google.com/github/Bastien-Boucherat/GEO6361/blob/main/GEO6361_semaine_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
inscrits = [
        ["Alex", "GÉO6361",  "Montréal", 65],
        ["Val", "GÉO6361",  "Laval", 85],
        ["Toni", "GÉO6361",  "Montréal", 90],
        ["Dom", "GÉO6361",  "Longueil", 75]
    ]

In [ ]:
# Ex1 : Itération à travers les données des étudiants et concaténation des informations
print("* Exercice 1")
for i in inscrits:
        # Afficher: Cette personne prend le cours 6361 et habite dans cette ville

print()

In [ ]:
# Ex2 : Calculer la moyenne de la classe
print("* Exercice 2")

# J'initialise une variable "somme" de valeur 0
somme = 0

# Itération à travers les données des étudiant.e.s
for i in inscrits:
    # J'incrémente la valeur de la somme à chaque nouvelle ligne du tableau
    somme += i[3]

# Je calcule et j'imprime la moyenne dans la console

In [ ]:
# Ex3 : Quelle est la note la plus élevée, et la plus faible ?
print("* Exercice 3")

# J'initialise une liste vierge
notes_seules = []

# Itération à travers les données des étudiant.e.s
for i in inscrits:
    # J'ajoute la note, et seulement la note, à la liste "notes_seules"


# Extraction de la note la plus élevée avec la fonction max()


# Extraction de la note la plus faible avec la fonction min()

print()

In [ ]:
# Ex4 : Qui a la note la plus élevée, et la plus faible ?
print("* Exercice 4")

# Extraction de la note la plus basse avec "lambda" qui permet, dans ce cas précis, de trier une liste à deux dimensions selon la valeur de la 4e colonne

# Extraction de la note la plus élevée avec "lambda" qui permet, dans ce cas précis, de trier une liste à deux dimensions selon la valeur de la 4e colonne

print()

In [1]:
# Ex5 : Et seulement à Montréal ?
print("* Exercice 5")

* Exercice 5

In [ ]:
# Ex6 : Créons une fonction pour répondre à la question 5
print("* Exercice 6")

In [ ]:
# Ex7 : Optimisation de code
print("* Exercice 7")