<a href="https://colab.research.google.com/github/Bastien-Boucherat/GEO6361/blob/main/GEO6361_semaine_2_complet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Les bases de la programmation Python, partie 1

## Les variables

1. Assignez aux variables les valeurs suivantes :

*   Votre prénom
*   Votre nom
*   Le département du cours (GEO)
*   Le numéro du cours (6361)
*   Un booléen indiquant si vous êtes inscrit au cours
*   La durée du cours en heures (disons, pour l'exercice, que le cours dure 2h30)

In [3]:
prenom = "Bastien"
nom = "Boucherat"
dept_cours = "GEO"
num_cours = 6361
inscrit = True
duree_cours = 2.5

# Code pour la correction automatique, ne pas modifier !
if not isinstance(prenom, str) or not isinstance(nom, str) or not isinstance(dept_cours, str):
    print("Il y a une erreur avec les variables 'prenom' ou 'nom' ou 'dept_cours'")
elif not isinstance(num_cours, int):
    print("Il y a une erreur avec la variable 'num_cours'")
elif not isinstance(inscrit, bool):
    print("Il y a une erreur avec la variable 'inscrit'")
elif not isinstance(duree_cours, float):
    print("Il y a une erreur avec la variable 'duree_cours'")
else:
    print("Tout semble fonctionner ! :)")
# fin du code de la correction automatique

Tout semble fonctionner ! :)

2. Il y a une erreur par ligne, corrigez ces erreurs et exécutez la cellule :

In [ ]:
prenom = "Bastien" # prenom doit être de type "str"
inscrit = True # inscrit doit être de type "bool"
duree_cours = "2.5" # duree_cours doit être de type "float"
dept_cours = "GEO" # dept_cours doit être de type "string"
num_cours = 6361 # num_cours doit être de type "int"

3. créez une variable "c" qui est la somme des variables "a" et "b" (indice : il faut changer le type d'une des variables "a" ou "b")

In [4]:
a = 1
b = "2"
c = a + int(b)
print(c)

3

4. Imprimer à la ligne 3 la chaîne de caractères "12" en effectuant une opération sur les variables "a" et "b"
(indice : il faut changer le type d'une des variables "a" ou "b")

In [5]:
a = 1
b = "2"
print(str(a)+b)

12

## Les listes

Pour chaque exercice, commentez votre code afin d'expliquer comment vous procédez pour résoudre la question. Par exemple, pour répondre à la question "Afficher la mot bonjour":

In [ ]:
# J'utilise la fonction Python "print"
print("Bonjour !")

Bonjour !

1. En une seule ligne, créez une liste appelée "nombres" contenant les numéros de 1 à 4.

In [27]:
nombres = [1,2,3,4]

# Autre manière utilisant range
nombres = list(range(1,5))

print(nombres)

[1, 2, 3, 4]

2. Utilisez la méthode "extend" pour ajouter les valeurs 6, 7, et 8 à la liste nombres, puis imprimez la liste nombres.

In [28]:
nombres.extend([5,6,7])
print(nombres)

[1, 2, 3, 4, 5, 6, 7]

3. Utilisez la méthode "remove" pour retirer le numéro 5 de la liste nombres, puis imprimez la liste "nombres".

In [29]:
nombres.remove(5)
print(nombres)

[1, 2, 3, 4, 6, 7]

4. Utilisez la méthode pop pour retirer le 3e élément de la liste "nombres". Imprimez cet élément.

In [30]:
nombres.pop(3)
print(nombres)

[1, 2, 3, 6, 7]

5. Utilisez la méthode pop pour retirer le chiffre 7
 de la liste "nombres". Imprimez cet élément.

In [31]:
nombres.pop(4)
print(nombres)

[1, 2, 3, 6]

6. Imaginons que la liste "nombres" soit très longue et que nous ne savons pas combien d'éléments elle contient. Utilisez la méthode pop pour retirer le dernier élément de cette liste. Imprimez la nouvelle liste.

In [32]:
print(nombres[len(nombres)-1])

6

7. Accédez au deuxième élément de la liste nombres et imprimez-le.

In [33]:
print(nombres[2])

3

8. Créez une liste vide appelée fruits.

In [34]:
fruits=[]
print(fruits)

[]

3. Utilisez la méthode "append" pour ajouter "pomme", "banane", "fraise" et "cerise" à la liste fruits (vous pouvez utiliser plusieurs lignes de code).

In [35]:
fruits.append("pomme")
fruits.append("banane")
fruits.append("fraise")
fruits.append("cerise")
print(fruits)

['pomme', 'banane', 'fraise', 'cerise']

9. Créez une nouvelle liste à deux dimensions appellée "inventaire" qui contiendrait la liste "fruits", puis la liste "nombres" (la première ligne de la liste "inventaire" contiendrait donc les noms des fruits et la seconde contiendrait la quantité correspondante).

In [36]:
inventaire = [fruits, nombres]
print(inventaire)

[['pomme', 'banane', 'fraise', 'cerise'], [1, 2, 3, 6]]

10. Accédez (en l'imprimant dans la console) à l'élément "banane" à partir de cette nouvelle structure.

In [38]:
print(inventaire[0][1])

banane