TP2 remis par (à modifiez par vous)

*   *Prénom, nom, matricule*
*   *Prénom, nom, matricule*

**Étape préparatoire 1** :
* La cellule ci-dessous installe et importe des modules externes Python qui ne sont pas pré-installés dans Google Colab
* Avant de commencer à travailler sur votre TP, dé-commentez les lignes de la cellule, exécutez-la, puis recommentez la cellule.

In [ ]:
# %%capture
# !pip install contextily
# !pip install mapclassify

**Étape préparatoire 2** : importez le *package* **Pandas** et lui donner l'alias habituel `pd`

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

**Étape préparatoire 3** : `pd.read_csv` pour importer des données au format csv. (données obtenues sur [iNaturalist](https://www.inaturalist.org/observations/export)).

In [ ]:
df = pd.read_csv("/content/iNat_observations.csv")

**Q1 : Pandas a chargé les données et les a organisées dans une *DataFrame*.**

1.   Affichons dans la console les cinq premières lignes de cette dataframe (0.5 point)
2.   Sélectionnons et réorganisons les colonnes afin que la dataframe contiennent les colonnes suivantes dans cet ordre : 'date', 'nom_scientifique', 'taxon', 'latitude', 'longitude' (0.5 point)
3.   Affichons dans la console le nombre de lignes contenues dans le tableau (composez une phrase lorsque vous affichez ce résultat) (0.5 point).

**Q2 : Imprimez dans la console, en utilisant une boucle "for", les variables disponibles dans ce fichier** (1 point).

**Résultat attendu** : le nom de chacune des colonnes, affiché dans la console l'un au dessus de l'autre.

**Q3 : Affichez les types de chaque colonne (avec dtypes)** (0,5 point).

**Résultat attendu** : le type de chacune des colonnes, affiché dans la console.

**Q4 : On constate que la première colonne est de type `object`. Convertissons-la vers le type qui lui est approprié.** (`pd.to_datetime(une_colonne)` peut convertir vers le format "date". **Ré-affichez les types des colonnes une fois la conversion effectuée.** (0,5 point)

**Q5 : Affichez le nombre total de valeurs manquantes par colonne** (0.5 point), puis **modifiez la DataFrame afin de retirer les enregistrements pour lesquelles les coordonnées géographiques sont manquantes** (0.5 point).

**Résultat attendu** : le nombre de valeurs nulles par colonne.

**Q6 : À partir de la DataFrame originale, créez trois DataFrames distinctes pour les taxons « Aves », « Mammalia » et « Insecta » nommées respectivement `df_aves`, `df_mammalia` et `df_insecta`.** (1,5 points)

Affichez le nombre de lignes contenues dans les 3 tableaux (composez une phrase, comme pour la question 1).

**Q7 : Utilisez la méthode « groupby » pour calculer le nombre d'observations d'oiseaux faites par mois de l'année (1-12). Appelez cette série « df_aves_mois ».** Selon le même schéma, répétez l'opération pour les observations de mammifères et d'insectes. (1 point)

PS. On peut utiliser `df['date'].dt.month` pour grouper selon le mois de l'année.

**Q8 : Concaténez les Series produites dans la Q7 à l'intérieur d'une DataFrame que vous nommerez "df_mois" et veillez à attribuer des titres aux colonnes.** (0.5 point)

PS. On peut utiliser `pd.concat([une_serie,une_autre_serie],axis=1)` pour effectuer cette concaténation.

**Q9 : Utilisez la méthode `.plot.bar` pour visualiser df_mois dans une figure de taille 10x6.** (0.5 point)

**Q10 : Répétez les opérations des questions 7, 8 et 9 en groupant par année plutôt que par mois** (1 point)

**Étape préparatoire à la suite du TP : Importez GeoPandas et donnez-lui l'alias gpd.**

In [ ]:
import geopandas as gpd

**Q11 : Convertissez `df` en une `GeoDataframe` nommée "observations". Reprojetez cette couche vers EPSG:3857. Vérifiez que tout a fonctionné en affichant la couche avec un `plot` de taille 10x10** (2 points)

**Q12 :** (2 points)
* **Produisez un nouvel objet GeoPandas (que vous nommerez "ad_montreal"), contenant cette fois le découpage de Statistiques Canada de Montréal par aires de diffusion** (fichier "limites_AD_montréal.geojson")
* **Assurez-vous que les deux couches sont dans la même projection** (reprojetez une des deux au besoin)
* **Vérifiez que tout a fonctionné en affichant la couche avec un `plot` de taille 10x10**

**Q13: Effectuez une jointure spatiale pour combiner la couche ponctuelle des observations (gdf_obs) à la couche polygonale des aires de diffusion (ad_montreal). Cette jointure deviendra une GeoDataFrame que vous nommerez "ad_observations".** (1 point)

**Q14 : On souhaite maintenant obtenir le nombre d'observations par aire de diffusion pour chaque taxon (oiseaux, insectes, mammifères). Pour cela, nous pouvons effectuer une opération de dissolution (aggregation) sur "gdf_obs_ad". Tous les enregistrements possédant le même numéro de "ADAIDU" (ID des aires de diffusion) et le même taxon seront aggrégés, et on comptera le nombre d'observations pour chacun de ces groupes (aggfunc = 'count').** (1 point)

**Q15 : Programmez une boucle qui produira une carte choroplèthe par taxon (chaque carte ayant sa propre palette que vous choisirez).** (3 points)

**Résultat attendu** : trois cartes, illustrant le nombre total d'observations par aire de diffusion sur la période d'étude.
Utiliser la bibliothèque contextily contenant des fonds de cartes.

In [ ]:
# Importer une bibliothèque contenant des fonds de cartes
import contextily as cx

**Q16 : Comme les cartes produites plus haut sont biaisées par le fait que les polygones n'ont pas la même superficie, reproduisez-les pour montrer, cette fois, la densité d'observations par km carré.** Ajoutez un fond de plan (celui que vous jugerez approprié, utilisez votre meilleur jugement cartographique !) avec `contextily` et exportez la couche "ad_observations_dissolved" au format GeoJSON, et la carte sous forme d'image au format .png (2 points)

PS. On peut calculer la superficie d'un polygone en appelant ".area" sur sa colonne "geometry".